.xxx-color-template {
	background-color: #f08804;
	background-color: #101010; /* navbar origianl */
	background-color: #dddddd; /* panel border-color */
	background-color: #286090; /* button-primary */
	
	color: #ec971f; /* msg-warn */
	color: #337ab7; /* msg-info */
}


/*********** Color **********/
.i-color-warn {
	color: #ed9c2c;
}


/************ Override Bootstrap ************/

.table td {
	text-overflow: ellipsis;
	vertical-align: middle !important;
}

--body {
	padding-bottom: 0px;
}

.btn {
	border-radius: 0px !important;
}

input {
	border-radius: 0px !important;
}

.panel {
	border-radius: 0px !important;
}

button {
	border-radius: 0px;
}

.jumbotron {
	border-radius: 0px !important;
}

.form-control {
	border-radius: 0px !important;
}


/*********** navbar ***********/
.i-navbar {
	margin-bottom: 0px;
	/*background-color: #333333;*/
	background-color: #595959;
}


/********* footer ***********/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  	height: 120px;
	margin-top: 50px;
	background-color: #595959;
	padding: 50px;
}


/************ Alignment *************/

/*
div.i-header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	
	background-color: #fcb14f;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 3px;
}
*/

div.i-vertical-center {
	vertical-align: middle;
}

.i-center-parent {
	text-align: center !important;
}

.i-center-child {
	margin: auto;
}


/************ Width *************/

.i-wd-90 {
	width: 90%;
}

.i-wd-85 {
	width: 85%;
}

.i-wd-80 {
	width: 80%;
}

.i-wd-75 {
	width: 75%;
}

.i-wd-70 {
	width: 70%;
}

.i-wd-60 {
	width: 60%;
}

.i-wd-55 {
	width: 55%;
}

.i-wd-50 {
	width: 50%;
}

.i-wd-40 {
	width: 40%;
}

.i-wd-35 {
	width: 35%;
}

.i-wd-30 {
	width: 30%;
}

.i-wd-25 {
	width: 25%;
}

.i-wd-20 {
	width: 20%;
}

.i-wd-15 {
	width: 15%;
}

.i-wd-10 {
	width: 10%;
}

.i-wd-8 {
	width: 8%;
}

.i-wd-5 {
	width: 5%;
}


/************** Font *************/

tr.i-font-14, 
span.i-font-14, 
p.i-font-14 {
	font-size: 14px;
}

tr.i-font-16, 
span.i-font-16, 
p.i-font-16 {
	font-size: 16px;
}

.i-font-18 {
	font-size: 18px;
}

.i-font-20 {
	font-size: 20px;
}

.i-font-22 {
	font-size: 22px;
}

.i-font-24 {
	font-size: 24px;
}

.i-font-bold {
	font-weight: bold;
}

/*
.i-font-black {
	color: black;
}
*/


/*********** Buttons ***********/

.i-button-row {
	margin-top: 50px;
	margin-bottom: 15px;
}

.i-panel-button-row {
	margin-top: 20px;
	margin-bottom: 15px;
}

.i-btn-xlg {
	width: 230px;
}

.i-btn-lg {
	width: 200px;
}

.i-btn-md {
	width: 130px;
}

.i-btn-sm {
	width: 110px;
}

.i-btn-xsm {
	width: 80px;
}


/************ Labels *************/

div.i-flow-label-row {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 70px;
}

div.i-flow-label {
	padding-top: 0px;
	padding-bottom: 1px;
	
	padding-left: 0.5px;
	padding-right: 0.5px;
	
	display: inline-block;
	border-bottom: 3.5px;
}

div.i-flow-label-active {
	border-bottom: 3.5px solid #fb9004;
}


/************ Jumbotron **************/

div.i-flow-jumbotron {
	border-radius: 0px !important;
	background-color: #ffffcc;
}

div.i-login-jumbotron {
	border-radius: 0px !important;
	/*background-color: #eaf1fa;*/
	background-color: #ffffcc;
	
	margin-top: 60px;
	margin-bottom: 20px;
}

div.i-cus-jumbotron-active {
	background-color: #ffffcc;
	margin-top: 15px;
	margin-bottom: 15px;
	
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

div.i-cus-jumbotron {
	background-color: #f9f9f9;
	margin-top: 15px;
	margin-bottom: 15px;
	
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 15px;
	padding-right: 15px;
}



/********** Panel ***********/

div.i-cus-panel {
	/*background-color: #ffffcc;*/
	background-color: #f9f9f9;
	margin-top: 15px;
	margin-bottom: 15px;
	
	
}

div.i-cus-panel-heading {
	background-color: #ffffcc;
	border-radius: 0px;
	font-size: 16px;
}

a.i-cus-panel-link {
	font-size: 14px !important;
	font-style: normal !important;
	color: #808080;
}


/************ error msg ***********/

.i-error-msg-box {
	background: #ffebeb none repeat scroll 0 0;
    /*border: 1px solid #faccc6;*/
    color: #e4393c;
    text-align: center;
    
    display: inherit
}

.i-error-msg-wrapper {
	margin-top: 15px;
	margin-bottom: 5px;
}


/************* Modal dialog *************/

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
	margin-top: -50px;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.i-modal-content {
	border-radius: 0px !important;
}

.i-modal-body {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 16px !important;
}


/************* Toast snackbar ***********/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #efa743;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 15px;
    
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

